/*  With inspiration from "58 bytes of css to look great nearly everywhere":
    https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41  */
html {
    background-color: #fafafa;
    max-width: 90ch;
    padding: 0em 1em;
    margin: auto;
    line-height: 1.75;
    font-family: sans-serif;
}
a {
    font-style: italic;
    color: #288;
    text-decoration: none;
}
h1 a,h2 a,h1,h2,h3,h4,h5,h6,td.title,td.key,strong {
    font-style: normal;
    color: #222;
    text-shadow: 0 0 0.08em #222;
    margin-bottom: 0em;
}
a:hover {
    text-shadow: 0 0 0.15em #288;
}
.date {
    font-style: italic;
}
.sec,.toc {
    margin-left: 2em;
}
.summary {
    color: #777;
    font-style: italic;
    font-weight: normal;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.sourceCode {
  padding: 0.5em;
  background-color: #EEE;
}

/* boerseth */

td.key {
    text-align: right;
}
td.date {
    text-align: right;
    font-style: italic;
    white-space: nowrap;
}
td.title {
    font-weight: bold;
}
td.date,td.title {
    padding-top: 1em;
}
td {
    padding-left: 1em;
}
p,ul,ol {
    margin-bottom: 2em;
}
